{#表示要加载静态文件#}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'login/css/login.css' %}">
    <title>登录</title>
</head>
<body>
<div class="container">
{#    bootstrap4和3的栅格系统的区别#}
    <div class="col-4 offset-md-4">
{#    <div class="col-4 ">#}
        <form action="/login/" class="form-login" method="post">

{#            用于明确指示用户的验证码不正确#}
            {% if login_form.captcha.errors %}
                <div class="alert alert-warning">{{ login_form.captcha.errors }}</div>
            {% elif message %}
                <div class="alert alert-warning">{{ message }}</div>
            {% endif %}
            {% csrf_token %}
            <h3 class="text-center">欢迎登录</h3>

{#            {{ login_form }}#}
            <div class="form-group">
                {{ login_form.username.label_tag }}
                {{ login_form.username }}
            </div>

            <div class="form-group">
                {{ login_form.password.label_tag }}
                {{ login_form.password }}
            </div>
            <div class="form-group">
                {{ login_form.captcha.label_tag }}
                {{ login_form.captcha }}
            </div>
            <div>
                <a href="/register/" class="text-success"><ins>新用户注册</ins></a>
                <button type="submit" class="btn btn-primary float-right">登录</button>
            </div>
        </form>
    </div>

    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.15.0/umd/popper.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>



</div>

</body>
</html>